* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
}
img {
  width: 100%;
  height: auto;
}
.background-img-props {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-props {
  padding: 15px 0;
  max-width: 204px;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #22AA46;
  border-radius: 5px;
  border: none;
  font: bold 20px/20px "Lato", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .btn-props {
    font-size: 14px;
    max-width: 145px;
    padding: 10px 0;
  }
}
@media print {
  .btn-props {
    display: none;
  }
}
.mcFarlane-lp-page .container .banner-section {
  background-image: url(images/section1/banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mcFarlane-lp-page .container .banner-section .back-to-main-btn {
  font: bold 16px/19px "Lato", sans-serif;
  color: #000000;
  clip-path: polygon(0 0%, 91% 0%, 80% 100%, 0% 100%);
  padding: 13px 85px 13px 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .back-to-main-btn {
    font-size: 15px;
    padding: 13px 65px 13px 20px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .banner-section .back-to-main-btn {
    font-size: 13px;
  }
}
.mcFarlane-lp-page .container .banner-section .back-to-main-btn .back-arrow {
  vertical-align: middle;
  margin-right: 10px;
}
@media print {
  .mcFarlane-lp-page .container .banner-section .back-to-main-btn {
    display: none;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 143px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .banner-section .banner-content {
    max-width: 575px;
    padding-top: 20px;
    padding-bottom: 89px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content {
    max-width: 355px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .banner-section .banner-content {
    max-width: 280px;
    padding-bottom: 74px;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .greet-txt {
  font: bold 26px/28px "Lato", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .greet-txt {
    font-size: 20px;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .greet-txt {
    font-size: 16px;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .banner-logo {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 10px 0 16px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .banner-logo {
    max-width: 420px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .banner-logo {
    max-width: 315px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .banner-logo {
    max-width: 260px;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .text2 {
  font: bold 40px/64px "Lato", sans-serif;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .text2 {
    font-size: 34px;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .text2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .text2 {
    font-size: 22px;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .text2 strong {
  color: #94FDF9;
}
.mcFarlane-lp-page .container .banner-section .banner-content .action-btns {
  display: flex;
  margin: 0 -15px;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .action-btns {
    margin-top: 30px;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .action-btns button {
  padding: 15px 0;
  max-width: 204px;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #22AA46;
  border-radius: 5px;
  border: none;
  font: bold 20px/20px "Lato", sans-serif;
  cursor: pointer;
  margin: 0 15px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .banner-section .banner-content .action-btns button {
    font-size: 14px;
    max-width: 145px;
    padding: 10px 0;
  }
}
@media print {
  .mcFarlane-lp-page .container .banner-section .banner-content .action-btns button {
    display: none;
  }
}
.mcFarlane-lp-page .container .banner-section .banner-content .action-btns .download-btn {
  background-color: #FFFFFF;
  color: #22AA46;
  border: 3px solid #22AA46;
}
.mcFarlane-lp-page .container .digital-note-section {
  background-image: url(images/section2/launch-note-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mcFarlane-lp-page .container .digital-note-section .note-content {
  max-width: 920px;
  margin: 0 auto;
  padding: 135px 0 80px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content {
    max-width: 750px;
    padding-top: 97px;
    padding: 97px 30px 80px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content {
    max-width: 698px;
    padding-top: 90px;
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content {
    max-width: 425px;
    padding-top: 64px;
    padding-bottom: 50px;
  }
}
.mcFarlane-lp-page .container .digital-note-section .note-content .logo-without-name {
  max-width: 80px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .logo-without-name {
    max-width: 60px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .logo-without-name {
    max-width: 50px;
  }
}
.mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note-heading {
  font: bold 48px/50px "Oswald", sans-serif;
  color: #000000;
  text-align: center;
  padding: 10px 0 30px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note-heading {
    font-size: 38px;
    padding: 3px 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note-heading {
    font-size: 28px;
    line-height: 34px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note-heading {
    padding: 3px 35px 15px;
  }
}
.mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note {
  font: bold 22px/32px "Lato", sans-serif;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note {
    font-size: 16px;
  }
}
.mcFarlane-lp-page .container .digital-note-section .note-content .text-content .note .highlighted-txt {
  color: #074F73;
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content {
    max-width: 890px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content {
    max-width: 645px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content {
    flex-wrap: wrap;
    padding: 30px 0 38px;
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content > div {
  max-width: 55%;
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content > div {
    max-width: 89%;
    margin: 0px auto;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .card-heading {
  font: bold 48px / normal "Oswald", sans-serif;
  background: linear-gradient(to right, #277D69, #116378);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .card-heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .card-heading {
    font-size: 26px;
    line-height: 30px;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .para-txt {
  font: bold 22px/28px "Lato", sans-serif;
  color: #000000;
  margin: 19px 0 30px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .para-txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .para-txt {
    font-size: 16px;
    line-height: 22px;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .view-tutorial-btn {
  padding: 15px 0;
  max-width: 204px;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #22AA46;
  border-radius: 5px;
  border: none;
  font: bold 20px/20px "Lato", sans-serif;
  cursor: pointer;
  background-color: #0E97D9;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .view-tutorial-btn {
    font-size: 14px;
    max-width: 145px;
    padding: 10px 0;
  }
}
@media print {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .card-txt .view-tutorial-btn {
    display: none;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card .card-content .represent-img {
  max-width: 560px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .represent-img {
    max-width: 380px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .represent-img {
    max-width: 288px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card .card-content .represent-img {
    margin-bottom: 30px;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card.one {
  background-image: url(images/section3/banner1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mcFarlane-lp-page .container .three-card-ad-section .card.two {
  background-image: url(images/section3/banner2-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content {
  flex-direction: row-reverse;
}
.mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content > div {
  max-width: 48%;
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content > div {
    max-width: 89%;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content {
    flex-direction: column-reverse;
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content .card-txt .card-heading {
  background: linear-gradient(to right, #3FC9A8, #1CA2C4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mcFarlane-lp-page .container .three-card-ad-section .card.two .card-content .card-txt .para-txt {
  color: #FFFFFF;
}
.mcFarlane-lp-page .container .three-card-ad-section .card.three {
  background-image: url(images/section3/banner3-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.three {
    background-image: url(images/section3/card3-mobile-bg.jpg);
  }
}
.mcFarlane-lp-page .container .three-card-ad-section .card.three .card-content {
  min-height: 360px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.three .card-content {
    min-height: 250px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.three .card-content {
    min-height: 184px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .three-card-ad-section .card.three .card-content {
    min-height: 324px;
    display: block;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap {
  background-image: url(images/section4/multi-roadmap-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content {
  max-width: 1030px;
  margin: 0 auto;
  padding: 59px 0 72px;
  text-align: center;
}
@media screen and (max-width: 1150px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content {
    padding: 59px 50px 72px;
  }
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content {
    max-width: 740px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content {
    max-width: 524px;
    padding: 59px 30px 72px;
  }
}
@media screen and (max-width: 400px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content {
    padding: 59px 0px 72px;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .heading {
  font: bold 48px/50px "Oswald", sans-serif;
  background: linear-gradient(to right, #3FC9A8, #1CA2C4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .heading {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .heading {
    font-size: 26px;
    line-height: 30px;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .para-txt {
  font: bold 22px/28px "Lato", sans-serif;
  color: #FFFFFF;
  max-width: 680px;
  margin: 25px auto 40px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .para-txt {
    font-size: 18px;
    max-width: 528px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .para-txt {
    font-size: 16px;
    line-height: 22px;
    max-width: 462px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .para-txt {
    max-width: 260px;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature {
  max-width: 150px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature {
    margin: 15px 10px;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .img {
  max-width: 80px;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .img {
    max-width: 56px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .img {
    max-width: 41px;
  }
}
.mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .feature-name {
  font: bold 20px/26px "Oswald", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 10px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .feature-name {
    font-size: 14px;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .multi-year-roadmap .road-map-content .features .feature .feature-name {
    font-size: 13px;
  }
}
.mcFarlane-lp-page .container .get-start {
  padding: 60px 0 100px;
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .get-start {
    padding: 40px 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .get-start {
    padding: 30px 0 80px;
  }
}
@media screen and (max-width: 500px) {
  .mcFarlane-lp-page .container .get-start {
    padding: 20px 0 80px;
    max-width: 340px;
  }
}
.mcFarlane-lp-page .container .get-start .heading {
  font: bold 48px/58px "Oswald", sans-serif;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .get-start .heading {
    font-size: 38px;
    line-height: normal;
  }
}
@media screen and (max-width: 768px) {
  .mcFarlane-lp-page .container .get-start .heading {
    font-size: 28px;
    line-height: normal;
  }
}
.mcFarlane-lp-page .container .get-start .get-start-btn {
  padding: 15px 0;
  max-width: 204px;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #22AA46;
  border-radius: 5px;
  border: none;
  font: bold 20px/20px "Lato", sans-serif;
  cursor: pointer;
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .mcFarlane-lp-page .container .get-start .get-start-btn {
    font-size: 14px;
    max-width: 145px;
    padding: 10px 0;
  }
}
@media print {
  .mcFarlane-lp-page .container .get-start .get-start-btn {
    display: none;
  }
}
.print-btn {
  padding: 15px 0;
  max-width: 204px;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #22AA46;
  border-radius: 5px;
  border: none;
  font: bold 20px/20px "Lato", sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .print-btn {
    font-size: 14px;
    max-width: 145px;
    padding: 10px 0;
  }
}
@media print {
  .print-btn {
    display: none;
  }
}
